body {
  overflow: hidden;
}

.LandingPage .top {
  position: absolute;
  width: 100%;
  height: 342px;
  top: 0;
  background: url("../../img/background-top.png");
  animation: wave1 90s linear infinite;
  z-index: -1;
}

.LandingPage .bot {
  position: absolute;
  width: 100%;
  height: 287px;
  bottom: 0;
  background: url("../../img/background-bot.png");
  animation: wave2 90s linear infinite;
  z-index: -1;
}

.container {
  overflow: hidden;
  width: 40%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;

  .content-container {
    height: 400px;
  }

  .heading {
    position: relative;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    height: 130px;
    h1,
    h2,
    h3 {
      font-family: $primary-font;
      font-weight: 300;
      color: $grey;
      position: absolute;
      margin: 0;
    }
    h1 {
      font-size: 52px;
      left: 180px;
      bottom: -3px;
    }
    h2 {
      font-size: 48px;
      left: 40px;
      top: 0;
    }
    h3 {
      font-size: 40px;
      left: 40px;
      bottom:0;
    }
  }

  .buttons {
    width: 40%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@keyframes wave1 {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 1920px;
  }
}
@keyframes wave2 {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1920px;
  }
}


@media screen and (max-width:992px) {
  .container {
    width:80%;

    .heading {
      height: 110px;
      h1 {
        font-size: 42px;
        left:150px;
      }
      h2 {
        font-size: 38px;
      }
      h3 {
        font-size: 30px;
      }
    }
    .buttons {
      height: 150px;
      text-align: right;
      .button {
        flex-basis: 100%;
      }
      .btn {
        margin-bottom: 10px;
        font-size: 28px;
        width:175px;
        height: 70px;
      }
    }
  }


}
@media screen and (max-width:768px) {
  .container {

    .heading {
      height: 90px;
      h1 {
        font-size: 36px;
        left: 130px;
      }
      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 22px;
      }
    }

    .buttons {
      .button {
        text-align: center;
      }
      .btn {
        font-size: 20px;
        width:145px;
        height: 60px;
      }
    }
  }
}
@media screen and (max-width:576px) {
  .LandingPage .top {
    top: -100px;
  }
  
  .LandingPage .bot {
    height: 200px;

  }



  .container {
    width: 100%;

    .heading {
      height: 60px;

      h1 {
        font-size: 20px;
        left:90px;
        bottom: 0;
      }
      h2 {
        font-size: 18px;

      }
      h3 {
        font-size: 14px;
      }
    }

    .buttons {
      height: 100px;
      .button {
        text-align: center;
      }
      .btn {
        font-size: 12px;
        width:80px;
        height: 40px;
      }
    }
  }
}


@media screen and (max-width:300px){
  .container {
    .heading {
      height: 50px;
      h1{
        left:70px;
        font-size: 18px;
      }
      h2 {
        left:20px;
        font-size: 16px;
      }
      h3 {
        left:20px;
        font-size: 14px;
      }
    }
  }
}
